@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --vaul-overlay-background: rgb(0 0 0 / 0.4);
    --vaul-overlay-background-start: rgba(0, 0, 0, 0);
    --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);
  }
  body {
    @apply select-none overscroll-none;
  }
  .text-rainbow {
    @apply animate-text bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-clip-text text-transparent;
  }
}
